@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(158, 68, 68), rgb(83, 0, 0));
    background-attachment: fixed;
    font-family: 'Sono', sans-serif;
    font-size: 2rem;
}

h1 {
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid #000;
}

#btnStart {
    margin: 15px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 20px;   
}

input {
    margin: 15px;
}

#guess {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guessBtn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

#guessLetter {
    width: 30px;
    font-size: 1.3rem;
    text-align: center;
    padding: 5px;
    font-variant: small-caps;
}

#res {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    padding: 15px;
}

#mistakes {
    display: none;
    font-size: 1rem;
    text-align: center;
    margin: 10px;
}

#wrongLetters {
    display: none;
    margin: 10px;
    text-align: center;
    font-size: 1rem;
}

#final {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#btnPlayAgain {
    margin: 15px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 20px;
}